body{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  line-height: 20px;
}

#main{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

h1{
  font-size: 80px;
}

button {
  height: 50px;
  width: 100px;
  font-size: 20px;
  margin-bottom: 30px;
}
